.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.banner {
    height: 100vh;
    max-height: 1000px;
    width: 100%;
    max-width: 1920px;
    background-image: url("../img/Computer-Programmer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: relative;
}

.banner-whiteness {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    filter: opacity(0.4);
}

.banner-text {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 50%;
}

.banner-text h1 {
    font-size: 5em;
    color: black;
}

.banner-text p {
	font-size: 1.8em;
	top: 35%;
    line-height: 1.8em;
    font-weight: 600;
}

/* LANGUAGE BLOCKS */

.lang-blocks {
    position: relative;
    top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    left: 15px;
}

.l-block {
    margin-bottom: 30px;
    flex-basis: 400px;
}

.l-block > a > img {
    width: 370px;
    border: 1px solid rgb(190, 190, 190);
    transition: 0.3s ease;
}

.l-block > a > img:hover {
    box-shadow: 0 0 6px black;
}

.l-block > p {
    font-size: 19px;
    text-align: center;
    font-weight: 800;
}

@media screen and (max-width: 1202px) {
    .l-block > a > img {
        width: 420px;
    }

    .l-block {
        margin-bottom: 30px;
        flex-basis: 450px;
    }
}

@media screen and (max-width: 900px) {
    .l-block > a > img {
        width: 500px;
    }

    .l-block {
        margin-bottom: 30px;
        flex-basis: 500px;
    }
}