@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
*{
	box-sizing:border-box;
	font-size: 10px;
	
	
}
html{
	scroll-behavior: smooth;
	margin: 0px 0px;
	padding: 0px 0px;
}
body{
	width: 100%;
	height: auto;
	margin: 0px 0px;
	padding: 0px 0px;
	font-family: 'Roboto','Arial', sans-serif;
	 background-size: cover;

}
.wrapper{
	width: 100%;
	height: auto;
	max-width: 1920px;
	justify-content: center;
	position:relative;
	margin: 0px 0px;
	padding: 0px 0px;
	
}


a{
	text-decoration: none;
}
ul{
	list-style: none;
	padding: 0px 0px;
}

p{
	font-size: 13px;
	font-style: italic;
	line-height: 150%;
	word-spacing: 4px;
	letter-spacing: 2px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	*{
		font-size: 8px;
		
	}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	*{
		font-size: 8px;
		
	}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	*{
		font-size: 8px;
		
	}

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	*{
		font-size: 9px;
	
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	*{
		font-size: 10px;
		
	}
}