.sixth-bock{
	width: 100%;
	height: auto;
	background-color: #303036;
	justify-content: center;
	position: relative;
	top: 200px;

}
.footer{
	width: 90%;
	height: auto;
	text-align: left;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-left: 5%;
}
.f-link{
	width: 25%;
	height: auto;
	align-content: flex-start;
	margin: 0px auto;
	min-width: 200px;
}



.footer h3{
	font-size: 2.4em;
	color: white;
}

.footer ul li{
	width: 200px;
	height: 40px;
}

.footer a{
	color: grey;
	font-size: 1.8em;
	line-height: 30px;
	padding: 25px 0px; 
}
.f-link a:hover{
	color: #0ea195;
	font-size: 1.9em;
	 
}
.icon-media{
	width: 100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
.icon-media i{
	font-size: 1.6em;
	color: #fff;
	margin-right: 20px;
}

.footer-contacts li{
	font-size: 1.6em;
}


.text-footer-contacts{
	width: 100%;
	height: 100px;
	display: block;
	margin-bottom: 10px;
}
.text-footer-contacts ul li{
	border-right-color: red;
	width: 240px;
	height: 25px;
	font-size: 1.4em;
	line-height: 16px;
	color: grey;
}
.footer-contacts a{
	font-size: 1.1em;
	padding: 10px 5px;
	color: grey;
}
.footer-contacts span{
	margin-right: 10px;
}
.footer-contacts span i{
	font-size: 1.3em;
	color: grey;
}

.footer-contacts a:hover{
	color: #0ea195;
	font-size: 1.3em;
	 
}

.conteiner-feedback{
	position: relative;
	top: 20px;
}
.blank-feedback{
	width: 100%;
	height: 365px;

}

form{
	width: 100%;
	height: auto;
	position: relative;
}

.footer legend{
	position: relative;
	font-size: 2em;
	color: white;
}


.footer label{
	font-size: 1.5em;
	color: gray;
}
.footer input{
	width: 100%;
	height: 40px;
	border:2px solid #0ea195;
	border-radius: 15px;
	margin: 15px auto;
	font-size: 1.3em;
}
.form-group{
	margin-top: 15px;
}
.footer form button{
	position:relative;
	color: white;
	margin-bottom: 30px;
	float: right;
	width: 50%;
	height: 40px;
	border-radius: 25px;
	border:2px solid #0ea195;
	font-size: 1.3em;
	background-color: #212121;
}

@media only screen and (max-width: 600px) {
	.f-link{
		width: 80%;	
	}
	.footer-contacts a{
		font-size: 1.3em;
	}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.f-link{
		width: 25%;	
	}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.f-link{
		width: 25%;	
	}
	.conteiner-feedback{
		margin-left: 0%;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.f-link{
		width: 25%;	
	}
	.conteiner-feedback{
		margin-left: 0%;
	}
	
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.f-link{
		width: 25%;	
	}
	
	
}

