{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'kssdasite/Front1/css/all-styles.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'kssdasite/Front1/css/header-style.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'kssdasite/Front1/css/body-style-index3.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'kssdasite/Front1/css/footer-style.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'kssdasite/Front1/css/font-awesome/css/all.min.css'%}">
</head>
<body>
	<div class="wrapper">
		<div class="banner">
			<div class="header">
				<a href=""><img class="logo" src="{% static 'kssdasite/Front1/img/logo2.png'%}" alt="IT-academy"></a>
				<!--Navbar-->
				<div class="menu-header">
					<div class="h-menu">
					    <ul class="navbar-h">
							<li class="first-home active"><a href="{% url 'index_url' %}">ГЛАВНАЯ</a></li>	
							<li class="second-about-us"><a href="#about-us">О НАС</a></li>	
							<li class="third-st"><a href="#statistics">СТАТИСТИКА</a></li>	
							<li class="fifth-work"><a href="#work-with-us">РАБОТАТЬ С НАМИ </a>
								<ul>
									<li><a href="{% url 'projects_url' %}"> Проекты</a></li>
									<li><a href="{% url 'alumni_url' %}"> Студенты</a></li>
								</ul>


							</li>
							<li class="sixth-contacts"><a href="#contacts">КОНТАКТЫ</a></li>	
						</ul>
					</div>
					<div class="none-flex-search">
						<div class="search-div">
						<input type="text" class="search-control" placeholder="Search...">
						</div>
					</div>
					
					
					<div class="search-icon">
						<i class="fas fa-search"></i>
					</div>
					<div class="menuShow-icon">

						<i class="fas fa-search"></i>
						<i class="fas fa-bars"></i>
					</div>

				</div>
			</div>
			<div class="mobilMenu">
						
						<div class="v-menu">
							 <ul>
								<li class="first-home active"><a href="{% url 'index_url' %}">ГЛАВНАЯ</a></li>	
								<li class="second-about-us"><a href="#about-us">О НАС</a></li>	
								<li class="third-st"><a href="#statistics">СТАТИСТИКА</a></li>	
								<li class="fifth-work"><a href="#work-with-us">РАБОТАТЬ С НАМИ
								<i class="fas fa-angle-down"></i></a>
									<ul class="mobilM-work">
										<li><a href="{% url 'projects_url' %}"> Проекты</a></li>
										<li><a href="{% url 'alumni_url' %}"> Студенты</a>
										</li>
									</ul>

								</li>
								<li class="sixth-contacts"><a href="#contacts">КОНТАКТЫ</a></li>	
							</ul>
						</div>
			</div>
		</div>	
	<!--Header-->

	<div class="main">
		<div class="first-block">
			<div class="main-text" >
				<h1>IT Academy Projects</h1>
				<p>Освойте одну из самых востребованных и высокооплачиваемых профессий всего за 9 месяцев по сертифицированной программе IT академии ПВТ Беларуси</p>
						
			</div>
			<div class="first-bg-img"></div>
				
		</div>

		<div class="second-block">
			<h2>Наши работы</h2>
			<div class="wrapper-pojects">
				{% for project in projects %}
				<div class="pr-card">
					<div class="project-img"><img src="{{ project.picture.url }}" width="98%" height="98%"></div>
					<div class="project-text">
						<h3>{{ project.name }}</h3>
						<p>{{ project.description|truncatewords:15 }}</p>
						<a href="{% url 'project' project.id %}">ПОДРОБНЕE</a>
					</div>
				</div>
				{% endfor %}				
			</div>
		</div>


		<!--<div class="third-block" id="about-project">
			<div class="wrapper-pojects">
				{% for project in projects %}
				<div class="text-about-project">
							<h3>{{ project.name }}</h3>
							<p>{{ project.description }}</p>
				</div>
				<div class="pr-img">
					<img src="{% static 'kssdasite/Front1/img/c-sharp.png'%}" >
					<img src="{% static 'kssdasite/Front1/img/c-sharp.png'%}" >
					<img src="{% static 'kssdasite/Front1/img/c-sharp.png'%}" >
				</div>
				
				<div class="project-participants"><h2>Участники Проекта</h2></div>

				<div class="person-card">
					<div class="more-person"><a href=""><i class="far fa-arrow-alt-circle-right"></i></a>
					</div>
					<div class="person-img"><img src="{% static 'kssdasite/Front1/img/Bakyt.jpg'%}" width="100%" height="100%"></div>
					<div class="info-person">
						<h3>Bakyt Mailybekov</h3>
						<p>Java</p>
					</div>
				</div>
				{% endfor %}
			</div>

		</div>-->
	</div>

	<!--footer-->
		<div class="sixth-bock">
			<div class="footer">				
				<div class="footer-link f-link">
						<h3>Полезные Ссылки</h3>
							<ul>
								<li><a href=""> Статьи</a></li>
								<li><a href=""> Курсы</a></li>
								<li><a href=""> Проекты</a></li>
								<li><a href=""> Вакансии</a></li>
								<li><a href=""> Контакты</a></li>

							</ul>
							<div class="icon-media">
								<a href=""><i class="fab fa-facebook-square"></i></a>
								<a href=""><i class="fab fa-instagram"></i></a>
								<a href=""><i class="fas fa-envelope-square"></i></a>
							</div>
							
				</div>
				<div class="footer-courses f-link">
							<h3>Курсы</h3>
							<ul>
								
								<li><a href=""> Java/Mobile App</a></li>
								<li><a href=""> Java</a></li>
								<li><a href=""> Php</a></li>
								<li><a href=""> Front-End</a></li>
								<li><a href=""> C#</a></li>
								<li><a href=""> Scratch</a></li>

							</ul>
						
				</div>
				<div class="footer-contacts f-link">
							<h3>Контакты</h3>
							<div class="text-footer-contacts bish">
								<ul>
									
									<li><span><i class="fas fa-map-marker-alt"></i></span></i>г. Бишкек, Жумабека 141</li>
									<li><span><i class="fas fa-envelope"></i></span><a href="mailto:itacademy98@gmail.com">itacademy98@gmail.com</a></li>
								<li><span><i class="fas fa-mobile"></i></span><a href="tel:+996772000562">+996 (772) 000 562</a></li>

								</ul>
							</div>
							<div class="text-footer-contacts osh">
								<ul>
									
									<li><span><i class="fas fa-map-marker-alt"></i></span>г. Ош, 714003, ул.Петрова б/н</li>
									<li><span><i class="fas fa-envelope"></i></span><a href="mailto:itacademy98@gmail.com">itacademy98@gmail.com</a></li>
									<li><span><i class="fas fa-mobile"></i></span><a href="tel:+996779609000">+996 (779) 609 000</a></li>

								</ul>
								
							</div>
							<div class="text-footer-contacts karakol">
								<ul>
									
									<li><span><i class="fas fa-map-marker-alt"></i></span>г. Каракол, Есенина-1</li>
									<li><span><i class="fas fa-envelope"></i></span><a href="mailto:itacademy98@gmail.com">itacademy98@gmail.com</a></li>
								<li><span><i class="fas fa-mobile"></i></span><a href="tel:+996556521138">+996 (556) 521 138</a></li>

								</ul>
								
							</div>
							<div class="text-footer-contacts kara-balta">
								<ul>
									
									<li><span><i class="fas fa-map-marker-alt"></i></span>ул. Шопокова 4, г. Кара-Балта</li>
									<li><span><i class="fas fa-envelope"></i></span><a href="mailto:itacademy98@gmail.com">itacademy98@gmail.com</a></li>
									<li><span><i class="fas fa-mobile"></i></span><a href="tel:+9967074848 46">+996 707 48 48 46</a></li>

								</ul>
								
							</div>
				</div>
				<div class="conteiner-feedback f-link">
				      	<div class="blank-feedback">
				      		<form action="feedback.php" method="POST">
				      			<legend>Заголовок формы</legend>

				      			<div class="form-group">
				      				<label for="">Введите ваше имя</label>
				      				<input type="text" class="form-control" id="" name="user_name" placeholder="Например, Иван">
				      			</div>
				      		
				      			<div class="form-group">
				      				<label for="">Введите номер телефона</label>
				      				<input type="text" class="form-control" id="" name="user_phone" placeholder="+996 (500) 55 55 55">
				      			</div>
				      		
				      			<div class="form-group">
				      				<label for="">Введите email</label>
				      				<input type="text" class="form-control" id="" name="user_email" placeholder="mail@mail.ru">
				      			</div>
				      		
				      			<button type="submit" class="btn btn-primary">Отправить форму</button>
				      		</form>
				      	</div>
				</div>							
			</div>
		</div>
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script  src="{% static 'kssdasite/Front1/js/script-index3.js'%}"></script>

</body>
</html>